
<header>
  <div class="container-fluid mt-3 nav-container">

      <div class="logo-container">
          <a href="/"><img src="/images/Logo_only.png" alt="Logo" class="logo"></a>
        </div>
  
      <!-- Centered Navbar -->
      <div class="bg-dark rounded-pill overflow-hidden d-inline-block p-1">
          <ul class="nav nav-pills d-inline-flex flex-wrap justify-content-center" role="tablist">
              <li class="nav-item">
                  <a class="nav-link text-light rounded-pill <%= page === 'Courses' ? 'active' : '' %>" data-bs-toggle="pill" href="/courses">Courses</a>
              </li>
              <% if (user) { %>
              <li class="nav-item">
                  <a class="nav-link text-light rounded-pill <%= page === 'Student_Dashboard' ? 'active' : '' %>" data-bs-toggle="pill" href="/dashboard">My Page</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-light rounded-pill <%= page === 'Profile' ? 'active' : '' %>" data-bs-toggle="pill" href="/user/profile">Profile</a>
              </li>
              <% if (user.role === 'student'){ %>
              <li class="nav-item">
                  <a class="nav-link text-light rounded-pill <%= page === 'Cart' ? 'active' : '' %>" data-bs-toggle="pill" href="/cart">Cart</a>
              </li>
              <% }%> 
              <li class="nav-item">
                  <a class="nav-link text-light rounded-pill" data-bs-toggle="pill" href="/logout">Logout</a>                    
              </li>
          </ul>        
      </div>
      <%}%>
      <!-- Right-aligned Login Button (Large Screens) -->
      <div class="login-container">
          <!--<a class="btn btn-dark text-light rounded-pill px-3 login-btn <%= page === 'Login_Register' ? 'active' : '' %>" href="/login">Login / Register</a>-->
          <a class="btn btn-dark text-light rounded-pill px-3 login-btn <%= page === 'Login_Register' ? 'nav-link active' : '' %>" href="/login">Login / Register</a>
      </div>
      
  </div>
</header>